<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit <%= mountain.name %></h1>
  <div class="col-6 offset-3">
    <form action="/mountains/<%= mountain._id %>?_method=put" method="post" novalidate class="validated-form" enctype="multipart/form-data">
      <div class="mb-3">
        <label class="form-label" for="name">Name</label>
        <input class="form-control" type="text" id="name" name="mountain[name]" value="<%= mountain.name %>" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location</label>
        <input class="form-control" type="text" id="location" name="mountain[location]" value="<%= mountain.location %>" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Lift Ticket Price</label>
        <div class="input-group">
          <span class="input-group-text" id="price-label">$</span>
          <input class="form-control" type="text" id="price" placeholder="0.00" name="mountain[price]" value="<%= mountain.price %>" required>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="vertical">Vertical rise</label>
        <input class="form-control" type="text" id="vertical" name="mountain[vertical]" value="<%= mountain.vertical %>" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="elevation">Peak elevation</label>
        <input class="form-control" type="text" id="elevation" name="mountain[elevation]" value="<%= mountain.elevation %>" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="acreage">Skiable acreage</label>
        <input class="form-control" type="text" id="acreage" name="mountain[acreage]" value="<%= mountain.acreage %>" required>
      </div>
      <div class="mb-3">
        <label class="form-label" for="snowfall">Annual snowfall &#40;inches&#41;</label>
        <input class="form-control" type="text" id="snowfall" name="mountain[snowfall]" value="<%= mountain.snowfall %>" required>
      </div>
      <div class="mb-3">
        <fieldset class="border p-1">
          <legend>Season Passes</legend>
          <div>
            <input type="checkbox" id="ikon" name="mountain[pass]" value="ikon" <%= mountain.pass.includes('ikon') && 'checked' %> />
            <label for="ikon">Ikon</label>
          </div>
          <div>
            <input type="checkbox" id="epic" name="mountain[pass]" value="epic" <%= mountain.pass.includes('epic') && 'checked' %> />
            <label for="epic">Epic</label>
          </div>
          <div>
            <input type="checkbox" id="mountain-collective" name="mountain[pass]" value="mountain-collective" <%= mountain.pass.includes('mountain-collective') && 'checked' %> />
            <label for="mountain-collective">Mountain Collective</label>
          </div>
          <div>
            <input type="checkbox" id="RCR" name="mountain[pass]" value="RCR" <%= mountain.pass.includes('RCR') && 'checked' %> />
            <label for="RCR">Resorts of the Canadian Rockies</label>
          </div>
          <div>
            <input type="checkbox" id="super pass" name="mountain[pass]" value="super pass" <%= mountain.pass.includes('super-pass') && 'checked' %> />
            <label for="super pass">Super Pass</label>
          </div>
          <div>
            <input type="checkbox" id="SkiBig3" name="mountain[pass]" value="SkiBig3" <%= mountain.pass.includes('SkiBig3') && 'checked' %> />
            <label for="SkiBig3">Ski Big 3</label>
          </div>
        </fieldset>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Add images</label>
        <input class="form-control" type="file" id="image" name="image" multiple />
      </div>
      <button class="btn btn-info mb-3">Submit</button>
    </form>
    <a href="/mountains/<%= mountain._id %>">Back to <%= mountain.name %></a>
  </div>
</div>

<script>
  (() => {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  const forms = document.querySelectorAll('.validated-form')

  // Loop over them and prevent submission
  Array.from(forms).forEach(form => {
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }

      form.classList.add('was-validated')
    }, false)
  })
})()
</script>