<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/stylesheets/stars.css">

<div class="row">
  <div class="col-6">
    <div id="map"></div>
    <div id="imageCarousel" class="carousel slide">
      <div class="carousel-inner">
        <% mountain.images.forEach((img, i) => { %>
        <div class="carousel-item <%= i === 0 ? 'active' : '' %>">
          <img src="<%= img.url %>" class="d-block w-100" alt="...">
        </div>
        <% }) %>
      </div>
      <% if (mountain.images.length > 1) { %>
      <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
      <% } %>
    </div>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= mountain.name %></h5>
        <p class="card-text text-muted"><%= mountain.location %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Vertical: <%= mountain.vertical %> feet</li>
        <li class="list-group-item">Peak Elevation: <%= mountain.elevation %> feet</li>
        <li class="list-group-item">Lift ticket: <%= mountain.price %></li>
        <li class="list-group-item">Acreage: <%= mountain.acreage %></li>
        <li class="list-group-item">Annual Snowfall: <%= mountain.snowfall %> inches</li>
        <li class="list-group-item">Passes: <%= mountain.pass.map((p => " " + p)) || 'N/A' %></li>
        <li class="list-group-item text-muted">Submitted By: <%= mountain.author.username %></li>
      </ul>
      <% if (currentUser && mountain.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/mountains/<%= mountain._id %>/edit" class="btn btn-info">Edit moutain details</a>
        <form class="d-inline" action="/mountains/<%= mountain._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger">Delete Mountain</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">
        <a href="/mountains">All Mountains</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <% if (currentUser) { %>
    <form action="/mountains/<%= mountain._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
      <h2>Leave a Review</h2>
        <fieldset class="starability-grow">
          <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked aria-label="No rating." />
          <input type="radio" id="first-rate1" name="review[rating]" value="1" />
          <label for="first-rate1" title="Terrible">1 star</label>
          <input type="radio" id="first-rate2" name="review[rating]" value="2" />
          <label for="first-rate2" title="Not good">2 stars</label>
          <input type="radio" id="first-rate3" name="review[rating]" value="3" />
          <label for="first-rate3" title="Average">3 stars</label>
          <input type="radio" id="first-rate4" name="review[rating]" value="4" />
          <label for="first-rate4" title="Very good">4 stars</label>
          <input type="radio" id="first-rate5" name="review[rating]" value="5" />
          <label for="first-rate5" title="Amazing">5 stars</label>
        </fieldset>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5" required></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <% } %>
    <div>
      <h2>Reviews</h2>
         <% for (let r of mountain.reviews) { %>
          <div class="card mb-3">
            <div class="card-body">
              <!-- <h5 class="card-title">Rating: <%= r.rating %></h5> -->
              <p class="starability-result" data-rating="<%= r.rating %>">
                Rated: <%= r.rating %>
              </p>
              <h6 class="card-subtitle mb-2 text-muted">-<%= r.author ? r.author.username : 'Anonymous' %></h6>
              <p class="card-text">"<%= r.body %>"</p>
               <!-- if (currentUser && currentUser.equals(r.author)) {  -->
              <form action="/mountains/<%= mountain._id %>/reviews/<%= r._id %>?_method=delete" method="POST">
                <button class="btn btn-danger">Delete review</button>
              </form>
              
            </div>
          </div>
        <% } %>
    </div>
  </div>
</div>

<script>
  const maptilerApiKey = '<%- process.env.MAPTILER_API_KEY %>';
  const mountain = <%- JSON.stringify(mountain) %>
</script>
<script src="/javascripts/showPageMap.js"></script>