<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%= mountain.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= mountain.name %></h5>
        <p class="card-text text-muted"><%= mountain.location %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Vertical: <%= mountain.vertical %> feet</li>
        <li class="list-group-item">Peak Elevation: <%= mountain.elevation %> feet</li>
        <li class="list-group-item">Lift ticket: <%= mountain.price %></li>
        <li class="list-group-item">Acreage: <%= mountain.acreage %></li>
        <li class="list-group-item">Annual Snowfall: <%= mountain.snowfall %> inches</li>
        <li class="list-group-item">Passes: <%= mountain.pass.map((p => " " + p)) || 'N/A' %></li>
        <li class="list-group-item text-muted">Submitted By: <%= mountain.author.username %></li>
      </ul>
      <% if (currentUser && mountain.author.equals(currentUser._id)) { %>
      <div class="card-body">
        <a href="/mountains/<%= mountain._id %>/edit" class="btn btn-info">Edit moutain details</a>
        <form class="d-inline" action="/mountains/<%= mountain._id %>?_method=DELETE" method="post">
          <button class="btn btn-danger">!!! Delete Mountain !!!</button>
        </form>
      </div>
      <% } %>
      <div class="card-footer text-muted">
        <a href="/mountains">All Mountains</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <form action="/mountains/<%= mountain._id %>/reviews" method="POST" class="mb-3 validated-form" novalidate>
      <h2>Leave a Review</h2>
      <div class="mb-3">
        <label for="rating" class="form-label">Rating</label>
        <input type="range" step="0.5" class="form-range" min="0" max="5" name="review[rating]" id="rating">
      </div>
      <div class="mb-3">
        <label class="form-label" for="body">Review</label>
        <textarea class="form-control" name="review[body]" id="body" cols="30" rows="5" required></textarea>
      </div>
      <button class="btn btn-success">Submit</button>
    </form>
    <div>
      <h2>Reviews</h2>
        <% for (let r of mountain.reviews) { %>
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Rating: <%= r.rating %></h5>
              <p class="card-text">"<%= r.body %>"</p>
              <form action="/mountains/<%= mountain._id %>/reviews/<%= r._id %>?_method=delete" method="POST">
                <button class="btn btn-danger">Delete review</button>
              </form>
            </div>
          </div>
        <% } %>
    </div>
  </div>
</div>
